In [7]:
# dependencies
import pandas as pd

In [48]:
import os
import re
os.listdir("Resources")
for csv in os.listdir("Resources"):
    if re.search('original', csv) or re.search('data', csv):
        pass
    else:
        print(csv)

Feb-2017.csv
Oct2-17.csv
July-17.csv
June-17.csv
Jan-2017.csv
June-19.csv
July-19.csv
July-18.csv
June-18.csv
Jan-2018.csv
Jan-2019.csv
Jan-2020.csv
Oct1-17.csv
Feb-2018.csv
Feb-2019.csv

In [8]:
# read csv dated June 2017
csv1 = "Resources/June-17.csv"
june17_df = pd.read_csv(csv1)
# june17_df

In [9]:
# read csv dated July 2017
csv2 = "Resources/July-17.csv"
july17_df = pd.read_csv(csv2)
# july17_df

In [10]:
# create separate df to hold initial df for appending all other months
csv1 = "Resources/June-17.csv"
initial_df = pd.read_csv(csv1)

In [11]:
# append July 2017
combined_df = initial_df.append(july17_df)
# combined_df

In [12]:
# read csv dated June 2018
csv3 = "Resources/June-18.csv"
june18_df = pd.read_csv(csv3)
# june18_df

In [13]:
# append June 2018
combined_df = combined_df.append(june18_df)
# combined_df

In [14]:
 # read csv dated July 2018
csv4 = "Resources/July-18.csv"
july18_df = pd.read_csv(csv4)
# july18_df

In [15]:
# append July 2018
combined_df = combined_df.append(july18_df)
# combined_df

In [16]:
# read csv dated June 2019
csv5 = "Resources/June-19.csv"
june19_df = pd.read_csv(csv5)
# june19_df

In [17]:
# append June 2019
combined_df = combined_df.append(june19_df)
# combined_df

In [18]:
 # read csv dated July 2019
csv6 = "Resources/July-19.csv"
july19_df = pd.read_csv(csv6)
# july19_df

In [19]:
# append July 2019
# name for all summer months == combined_s_df
combined_s_df = combined_df.append(july19_df)
combined_s_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,499,2017-06-01 00:01:39,2017-06-01 00:09:59,3195.0,Sip Ave,40.730743,-74.063784,3194.0,McGinley Square,40.725340,-74.067622,29590,Subscriber,1979.0,1
1,507,2017-06-01 00:06:39,2017-06-01 00:15:07,3211.0,Newark Ave,40.721525,-74.046305,3277.0,Communipaw & Berry Lane,40.714358,-74.066611,29453,Subscriber,1969.0,1
2,768,2017-06-01 00:44:43,2017-06-01 00:57:31,3195.0,Sip Ave,40.730743,-74.063784,3189.0,West Side Light Rail,40.714402,-74.088772,26193,Subscriber,1962.0,1
3,101,2017-06-01 01:12:55,2017-06-01 01:14:36,3185.0,City Hall,40.717733,-74.043845,3213.0,Van Vorst Park,40.718489,-74.047727,29284,Subscriber,1983.0,1
4,265,2017-06-01 01:14:00,2017-06-01 01:18:25,3273.0,Manila & 1st,40.721651,-74.042884,3278.0,Monmouth and 6th,40.725685,-74.048790,29645,Subscriber,1980.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2181059,644,2019-07-31 23:59:45.2950,2019-08-01 00:10:29.8640,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,19018,Subscriber,1964.0,1
2181060,589,2019-07-31 23:59:52.7170,2019-08-01 00:09:42.0870,3285.0,W 87 St & Amsterdam Ave,40.788390,-73.974700,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,15330,Subscriber,1997.0,1
2181061,1302,2019-07-31 23:59:52.8280,2019-08-01 00:21:35.1090,331.0,Pike St & Monroe St,40.711731,-73.991930,309.0,Murray St & West St,40.714979,-74.013012,39730,Subscriber,1966.0,2
2181062,353,2019-07-31 23:59:57.1130,2019-08-01 00:05:50.1350,3255.0,8 Ave & W 31 St,40.750585,-73.994685,482.0,W 15 St & 7 Ave,40.739355,-73.999318,30149,Subscriber,1994.0,1
2181063,274,2019-07-31 23:59:57.4870,2019-08-01 00:04:32.2070,3459.0,E 53 St & 3 Ave,40.757632,-73.969306,3134.0,3 Ave & E 62 St,40.763126,-73.965269,25344,Subscriber,1994.0,2

In [20]:
# output new csv for June/July 2017-2019
# combined_s_df.to_csv('summer17-19.csv', index=False)
# if needing to recreate send to output folder
# combined_s_df.to_csv('Output/all_summer_2017-19.csv', index=False)

In [21]:
# read csv dated Jan 2017
csv7 = "Resources/Jan-2017.csv"
jan17_df = pd.read_csv(csv7)
# jan17_df

In [22]:
# read csv dated Feb 2017
csv8 = "Resources/Feb-2017.csv"
feb17_df = pd.read_csv(csv8)
# feb17_df

In [23]:
# create separate df to hold initial df for appending all other months
csv7 = "Resources/Jan-2017.csv"
initial2_df = pd.read_csv(csv7)
# initial2_df

In [24]:
# append Feb 2017 to newly created combined winter months df
winter_df = initial2_df.append(feb17_df)
# winter_df

In [26]:
# print out Jan 2018 list of columns when the formatting changes
# jan18_df.columns

In [28]:
# copy and paste this list in order to rename column list for combined_w_df
winter_df.columns = ['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender']
# winter_df

In [29]:
# read csv dated Jan 2018
csv9 = "Resources/Jan-2018.csv"
jan18_df = pd.read_csv(csv9)
# jan18_df

In [30]:
# append Jan 2018
winter_df = winter_df.append(jan18_df)
# winter_df

In [31]:
# read csv dated Feb 2018
csv10 = "Resources/Feb-2018.csv"
feb18_df = pd.read_csv(csv10)
# feb18_df

In [32]:
# append Feb 2018
winter_df = winter_df.append(feb18_df)
# winter_df

In [33]:
# read csv dated Jan 2019
csv11 = "Resources/Jan-2019.csv"
jan19_df = pd.read_csv(csv11)
# jan19_df

In [34]:
# append Jan 2019
winter_df = winter_df.append(jan19_df)
# winter_df

In [35]:
# read csv dated Feb 2019
csv12 = "Resources/Feb-2019.csv"
feb19_df = pd.read_csv(csv12)
# feb19_df

In [36]:
# append Feb 2019
winter_df = winter_df.append(feb19_df)
# winter_df

In [37]:
# output new csv for Jan/Feb 2017-2019 data
# winter_df.to_csv('winter17-19.csv', index=False)
# if needing to recreate send to output folder
# winter_df.to_csv('Output/all_winter_2017-19.csv', index=False)

In [38]:
# combine both dfs by pd.append -- called "combined winter summer df"
combined_w_s_df = combined_s_df.append(winter_df)
combined_w_s_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,499,2017-06-01 00:01:39,2017-06-01 00:09:59,3195.0,Sip Ave,40.730743,-74.063784,3194.0,McGinley Square,40.725340,-74.067622,29590,Subscriber,1979.0,1
1,507,2017-06-01 00:06:39,2017-06-01 00:15:07,3211.0,Newark Ave,40.721525,-74.046305,3277.0,Communipaw & Berry Lane,40.714358,-74.066611,29453,Subscriber,1969.0,1
2,768,2017-06-01 00:44:43,2017-06-01 00:57:31,3195.0,Sip Ave,40.730743,-74.063784,3189.0,West Side Light Rail,40.714402,-74.088772,26193,Subscriber,1962.0,1
3,101,2017-06-01 01:12:55,2017-06-01 01:14:36,3185.0,City Hall,40.717733,-74.043845,3213.0,Van Vorst Park,40.718489,-74.047727,29284,Subscriber,1983.0,1
4,265,2017-06-01 01:14:00,2017-06-01 01:18:25,3273.0,Manila & 1st,40.721651,-74.042884,3278.0,Monmouth and 6th,40.725685,-74.048790,29645,Subscriber,1980.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18560,367,2019-02-21 12:05:05.2680,2019-02-21 12:11:13.2210,3694.0,Jackson Square,40.711130,-74.078900,3280.0,Astor Place,40.719282,-74.071262,26189,Subscriber,1983.0,1
18561,497,2019-02-21 17:45:00.4510,2019-02-21 17:53:18.1580,3694.0,Jackson Square,40.711130,-74.078900,3679.0,Bergen Ave,40.722104,-74.071455,29296,Subscriber,1985.0,1
18562,959,2019-02-25 06:17:31.9310,2019-02-25 06:33:31.4950,3694.0,Jackson Square,40.711130,-74.078900,3183.0,Exchange Place,40.716247,-74.033459,29673,Subscriber,1977.0,1
18563,936,2019-02-26 06:14:45.4170,2019-02-26 06:30:21.8750,3694.0,Jackson Square,40.711130,-74.078900,3183.0,Exchange Place,40.716247,-74.033459,29672,Subscriber,1977.0,1
18564,822,2019-02-26 15:45:20.5370,2019-02-26 15:59:02.6070,3694.0,Jackson Square,40.711130,-74.078900,3280.0,Astor Place,40.719282,-74.071262,26189,Subscriber,1983.0,2

In [39]:
# output all combined data to csv
# previously used
# combined_w_s_df.to_csv('all_combined.csv', index=False)
# if needing to recreate send to output folder
# combined_w_s_df.to_csv('Output/all_combined_2017-2019.csv', index=False)