In [3]:
import pandas as pd

In [5]:
# read csv dated June 2017
csv1 = "Output/winter_summer_smaller.csv"
w_s_df = pd.read_csv(csv1)
w_s_df

,tripduration,starttime,stoptime,start station latitude,start station longitude,end station latitude,end station longitude,usertype,tripduration_mins
0,499,2017-06-01 00:01:39,2017-06-01 00:09:59,40.730743,-74.063784,40.725340,-74.067622,Subscriber,8.316667
1,507,2017-06-01 00:06:39,2017-06-01 00:15:07,40.721525,-74.046305,40.714358,-74.066611,Subscriber,8.450000
2,768,2017-06-01 00:44:43,2017-06-01 00:57:31,40.730743,-74.063784,40.714402,-74.088772,Subscriber,12.800000
3,101,2017-06-01 01:12:55,2017-06-01 01:14:36,40.717733,-74.043845,40.718489,-74.047727,Subscriber,1.683333
4,265,2017-06-01 01:14:00,2017-06-01 01:18:25,40.721651,-74.042884,40.725685,-74.048790,Subscriber,4.416667
...,...,...,...,...,...,...,...,...,...
8331764,367,2019-02-21 12:05:05.2680,2019-02-21 12:11:13.2210,40.711130,-74.078900,40.719282,-74.071262,Subscriber,6.116667
8331765,497,2019-02-21 17:45:00.4510,2019-02-21 17:53:18.1580,40.711130,-74.078900,40.722104,-74.071455,Subscriber,8.283333
8331766,959,2019-02-25 06:17:31.9310,2019-02-25 06:33:31.4950,40.711130,-74.078900,40.716247,-74.033459,Subscriber,15.983333
8331767,936,2019-02-26 06:14:45.4170,2019-02-26 06:30:21.8750,40.711130,-74.078900,40.716247,-74.033459,Subscriber,15.600000
8331768,822,2019-02-26 15:45:20.5370,2019-02-26 15:59:02.6070,40.711130,-74.078900,40.719282,-74.071262,Subscriber,13.700000

In [7]:
# recalculate the tripduration minutes to hours
w_s_df['tripduration_hrs'] = w_s_df['tripduration_mins'] / 60
w_s_df

,tripduration,starttime,stoptime,start station latitude,start station longitude,end station latitude,end station longitude,usertype,tripduration_mins,tripduration_hrs
0,499,2017-06-01 00:01:39,2017-06-01 00:09:59,40.730743,-74.063784,40.725340,-74.067622,Subscriber,8.316667,0.138611
1,507,2017-06-01 00:06:39,2017-06-01 00:15:07,40.721525,-74.046305,40.714358,-74.066611,Subscriber,8.450000,0.140833
2,768,2017-06-01 00:44:43,2017-06-01 00:57:31,40.730743,-74.063784,40.714402,-74.088772,Subscriber,12.800000,0.213333
3,101,2017-06-01 01:12:55,2017-06-01 01:14:36,40.717733,-74.043845,40.718489,-74.047727,Subscriber,1.683333,0.028056
4,265,2017-06-01 01:14:00,2017-06-01 01:18:25,40.721651,-74.042884,40.725685,-74.048790,Subscriber,4.416667,0.073611
...,...,...,...,...,...,...,...,...,...,...
8331764,367,2019-02-21 12:05:05.2680,2019-02-21 12:11:13.2210,40.711130,-74.078900,40.719282,-74.071262,Subscriber,6.116667,0.101944
8331765,497,2019-02-21 17:45:00.4510,2019-02-21 17:53:18.1580,40.711130,-74.078900,40.722104,-74.071455,Subscriber,8.283333,0.138056
8331766,959,2019-02-25 06:17:31.9310,2019-02-25 06:33:31.4950,40.711130,-74.078900,40.716247,-74.033459,Subscriber,15.983333,0.266389
8331767,936,2019-02-26 06:14:45.4170,2019-02-26 06:30:21.8750,40.711130,-74.078900,40.716247,-74.033459,Subscriber,15.600000,0.260000
8331768,822,2019-02-26 15:45:20.5370,2019-02-26 15:59:02.6070,40.711130,-74.078900,40.719282,-74.071262,Subscriber,13.700000,0.228333

In [8]:
# output to csv file for easier reading in Tableau
w_s_df.to_csv('Output/winter_summer_w_hrs.csv', index=False)